{% include ('header.template') %}

   {% if err %}
   <p>Ошибки:</p>
   <ul>
   {% for er in err %}
      <li>{{ er['emessage'] }}</li>
   {% endfor %}
   </ul>

   {% endif%}
   <form action="/save-user" method="post">
      <p>
         <label for="name">Name</label>
         <input type="text" name="name" id="" value="" />
      </p>
      <p>
         <label for="email">email</label>
         <input type="email" name="email" id="" value="" />
      </p>
      <p>
         <label for="password">password</label>
         <input type="password" name="password" id="" value="" />
      </p>
      <p>
         <label for="password">reinter password</label>
         <input type="password" name="password1" id="" value="" />
      </p>
   <input type="submit" name="submit" id="subbmit" value="submit" />
   
   </form>
{% include ('footer.template') %}
